<hr>
<div class="caixaPrincipal">
    <div class="textos">
        <h3>Quem somos</h3>
        <a href="">Nossa história</a> <br> <br>
        <a href="">Política de Privacidade – Flyon</a> <br> <br>
        <a href="">FAQ (perguntas frequentes)</a> <br> <br>
        <a href="">Contatos</a> <br> <br>
        <a href="">Política de coocks</a> <br><br>
    </div>
    <div class="textos"></div>
    <div class="textos">
        <h3>Baixe nosso App</h3>
        <a href=""><img src="assets/googleplay.png" alt="" class="playstore"></a>
        <a href=""><img src="assets/appstore.png" alt="" class="appstore"></a>
        <br><br>
        <h3>Siga nossas redes sociais</h3>
        <a href=""><img src="assets/facebook.jpg" alt="" class="social"></a>
        <a href=""><img src="assets/instagram.png" alt="" class="social"></a>
        <a href=""><img src="assets/iconex.png" alt="" class="social"></a>
    </div>
</div>

<div class="caixaSinza">
    <img src="assets/logo.png" alt="" class="logo">

    <div class="direito">
        © 2025 Flyon. Todos os direitos reservados. 
        Construindo o futuro com tecnologia e inovação.
    </div>
</div>
