.caixa{
    box-shadow: 0px 0px 15px black;
    width: 1200px;
    height: 1630px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.texto{
    display: block;
    height: 1100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}