
<div class="cabecalho">
    <header>
        <img src="assets/logo.png" alt="" class="logo">
        <nav>
            <ul>
                <li class="bheader"><a routerLink="/historia">Informações</a></li>
                <li class="bheader"><a href="">Atendimento</a></li>
                <li class="bheader"><a href="">Minhas viagens </a></li>
                <li class="bheader"><a href="">Entrar</a></li>
            </ul>
        </nav>
    </header>

<div class="caixaViagem">
                        <div class="ida">
                <form action="" class="formIda">
                    <label for="tipo">Origem</label> <br>
                    <select name="tipo" id="tipo">
                        <option value="" selected disabled>De onde</option>
                        <option value="João Pessoa">João Pessoa</option>
                        <option value="Recife">Reife</option>
                        <option value="Manaus">Manaus</option>
                    </select>
                </form>
            </div>

            <div class="destino">
                <form action="" class="formdestino">
                    <label for="tipo">Destino</label> <br>
                    <select name="tipo" id="tipo">
                        <option value=""selected disabled>Para</option>
                        <option value="João Pessoa">João Pessoa</option>
                        <option value="Recife">Recife</option>
                        <option value="Manaus">Manaus</option>
                    </select>
                </form>
            </div>

            <div class="dataida">
                <form action="" class="dataida">
                    <label for="tipo">Ida</label> <br>
                    <input type="date">
                </form>
            </div>

            <div class="datavolta">
                <form action="" class="datavolta">
                    <label for="">Volta</label> <br>
                    <input type="date">
                </form>
            </div>
        </div>
</div>