*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
head{
    display: flex;

}
.cabecalho{
    background-image: url('/assets/carro.jpg');
    width: 1200px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px black;
}
header{
    background-color: rgba(5, 49, 192, 0.075);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.329);
}
nav ul{
    display:flex;
    gap: 20px;
    margin-right: 10px;
    margin-top: 20px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
.logo{
    height: 50px;
    margin: 10px;
}
.caixaViagem{
    background-color: rgba(0, 0, 182, 0.027);
    backdrop-filter: blur(10px);
    display: flex;
    height: 160px;
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-top: 160px;
    box-shadow: 0px 0px 20px black;
}
input{
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}
select{
    height: 35px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}
label{
    color: white;
}
.boatoCaixaViagem{
    background:transparent;
    height: 50px;
    width: 550px;
    gap: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#bcviagem{
    display: flex;
    gap: 5px;

}
#bviagem{
    color:white;
    display: flex;
    height: 30px;
    width: 133px;
    background:transparent;
    border:1px solid rgba(128, 128, 128, 0.281);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    backdrop-filter: blur(15px);

}
.bheader{
    background-color: transparent;
    display: flex;
    height: 29px;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
}
.bheader:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.062);
    transition: transform 0.3s ease;
}
input:hover{
    background-color: rgba(240, 248, 255, 0.205);
    color: black;
}
select:hover{
    background-color: rgba(240, 248, 255, 0.205);
    color: black;
}