.card-registro {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.39);
  padding: 2em;
  border-radius: 8px;
  background-color: #ffffff;
}

.campo-form {
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

.logo {
  width: 75px;
  margin: 15px auto;
  display: block;
}

.btn-submit {
  width: 100%;
  padding: 0.75em;
  margin-top: 1em;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btn-submit:hover {
  background-color: #1565c0;
}

.link-login {
  margin-top: 1em;
  font-size: 0.9em;
}

.link-login a {
  color: #1976d2;
  text-decoration: none;
}

.link-login a:hover {
  text-decoration: underline;
}

.titulo {
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-weight: 500;
}
