
.caixa{
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
    width: 1200px;
    display: flex;
    height: 1010px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    gap: 40px;
}
.caixadentro{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 800px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    height: 460px;
}

.aviao{
    height: 400px;
    border-radius: 15px;
}