
.caixa{
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.356);
    width: 1200px;
    display: flex;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    gap: 40px;
}
.caixadentro{
    background-color: brown;
    height: 480px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}