
<img src="assets/logo.png" alt="">
<br><br><br><br><br><br>
<mat-card>
  <mat-card-header>
    <h2>Login</h2>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm"(submit)="login()">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="user.email" placeholder="email" name="email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="user.senha" placeholder="Senha" name="Senha" required>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Confirmar</button>
    </form>
  </mat-card-content>
</mat-card>
<br><br><br><br><br><br>