<app-header-alternativo></app-header-alternativo>
<br>

<div class="resultado">
  <h2>Sua Viagem</h2>

  <p><strong>Origem:</strong> {{ origem }}</p>
  <p><strong>Destino:</strong> {{ destino }}</p>
<p><strong>Data de Ida:</strong> {{ dataIda }}</p>
 <p><strong>Data de Volta:</strong> {{ dataVolta }}</p>
  <p><strong>Pessoas:</strong> {{ pessoas }}</p>
  <p><strong>Distância:</strong> {{ distancia }} km</p>
  <p><strong>Tempo estimado de voo:</strong> {{ tempo }} h</p>
  <p><strong>Preço total:</strong> R$ {{ preco }}</p>

</div>
<br>
