<div class="container">
  <h2>Resultado da Viagem</h2>
  <p><strong>Origem:</strong> {{ origem }}</p>
  <p><strong>Destino:</strong> {{ destino }}</p>
  <p><strong>Distância:</strong> {{ distancia }} km</p>
  <p><strong>Tempo Estimado:</strong> {{ tempo }} horas</p>
  <p><strong>Data de Ida:</strong> {{ ida }}</p>
  <p><strong>Data de Volta:</strong> {{ volta }}</p>
  <p><strong>Pessoas:</strong> {{ pessoas }}</p>
  <p><strong>Preço Total:</strong> R$ {{ preco }}</p>

  <button routerLink="/" class="voltar">Nova Viagem</button>
</div>