.caixa{
    box-shadow: 0px 0px 15px black;
    width: 1200px;
    height: 1230px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.texto{
    display: block;
    height: 1100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #f4f6fa;
  border-radius: 8px;
}

table th,
table td {
  padding: 12px 16px;
  border: 1px solid #a7b9d3;
  text-align: left;
}

table th {
  background-color: #a7b9d3;
  color: #ffffff;
}


a {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #a7b9d3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
}

a:hover {
  background-color: #8fa2c0;
}
