<app-header-alternativo></app-header-alternativo>
<br>
<div class="caixa">
    <div class="texto">
        <h1>Contato – FlyOn</h1>

        <p>A FlyOn trabalha para oferecer a melhor experiência em cada etapa da sua viagem. Caso precise de ajuda, nossa equipe está disponível para esclarecer dúvidas, resolver problemas e fornecer todas as informações necessárias.</p>
        <hr>
        <h1>Central de Atendimento</h1>
        <p>
            Telefone: 0800 123 4567 <br>
            Suporte Internacional: +55 (11) 4000-7890 <br>
            WhatsApp: (11) 99999-0000 <br>
            Horário de atendimento: Todos os dias, das 06h às 23h <br>
        </p>
        <hr>
        <h3>Atendimento por E-mail</h3>
        <p>
        SAC: sac&#64;flyon.com <br>
        Suporte a Passagens: passagens&#64;flyon.com <br>
        Bagagens e Objetos Perdidos: bagagens&#64;flyon.com <br>
        Parcerias e Comercial: comercial&#64;flyon.com <br>
        </p>
        <hr>
        <h1>Endereço da Sede</h1>
        <h3><strong>FlyOn Linhas Aéreas S.A.</strong></h3>
        <p>
            Avenida dos Ventos, 1500 – Torre Sul <br>
            São Paulo – SP, Brasil <br>
            CEP 04500-000 <br>
        </p>
        <hr>
        <h3>Formulário Online</h3>
        <p>Para solicitações específicas, dúvidas ou elogios, acesse nosso formulário: <br>            www.flyon.com/contato</p>
        <p>Estamos prontos para ajudar você a voar mais alto com conforto, segurança e praticidade. <br>
</p>
<strong>FlyOn – voando para o seu destino.</strong>

    </div>
</div>
<br>