
<div class="carrossel">
    <div class="grupo">
        <div class="card"><a href=""><img src="assets/indonesia-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/salvador-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/paris-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/caribe-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/roma-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/rio-anuncio.jpg" alt=""></a></div>
    </div>
    
    <div aria-hidden class="grupo">
        <div class="card"><a href=""><img src="assets/sao-paulo-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/recife-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/parati-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/noronha-anuncio.jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/brasilia-anuncio/jpg" alt=""></a></div>
        <div class="card"><a href=""><img src="assets/belem-anundio.jpg" alt=""></a></div>
    </div>
    
</div>

