.carrossel{
    margin: 100px auto;
    width: 1200px;
    height: 440px;
    border-radius: 15px;
    display: flex;
    overflow-x: auto;
}
    .carrossel::-webkit-scrollbar{
        display: none;
}
img{
  height: 380px;
  border-radius: 15px;
}
.grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: spin 60s infinite linear;
    padding-right: 1em;
    
}
.card{
    flex: 0 0 5em;
    height: 348px;
    padding: 0px;
    background: rgba(100, 148, 237, 0);
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    cursor: pointer;
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
