body {
  background-color: #dbe4f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.div-pop {
  background-color: #a4b8d3;
  width: 1200px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.div-pe {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}