
body {
  background-color: #dbe4f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.div-pop {
  margin: 0 auto;
  background: linear-gradient(#abcbf8, #9886b9);
  width: 100%;
  max-width: 1200px;
  height: 350px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
}

.div-pe {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  font-size: 25px;

}

.div-pe a {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.div-pe:hover {
  background-color: lightgray;
}