div{
    display: flex;
    width: 1200px;
    height: 1090px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.247);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}
.caixadentro{
    width: 1000px;
    height: 1036px;
    display: block;
    box-shadow: none;
}