header{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
        border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
img{
    height: 90px;
    margin-right: 20px;
}
.botaoHeaderAlternativo{
    
    height: 30px;
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
}
.botaoHeaderAlternativo:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}