<app-header-alternativo></app-header-alternativo>
<br>
<div class="caixa">
    <div class="texto">
        <h1>Central de Ajuda – Flyon</h1>
        <p>Bem-vindo à Central de Ajuda da Flyon!
Aqui você encontra respostas para as dúvidas mais comuns sobre nossos serviços. Caso não encontre o que procura, nossa equipe de atendimento está sempre pronta para ajudar.</p>
<hr>
<h1>Bagagem</h1>
<ul>
    <li>Qual é a franquia de bagagem da Flyon?
Cada passageiro pode levar uma bagagem de mão de até 10kg e uma bagagem despachada de até 23kg, sem custo adicional nas passagens padrão.

O que fazer se minha bagagem for extraviada?</li>
    <li>O que fazer se minha bagagem for extraviada?
Dirija-se imediatamente ao balcão de atendimento Flyon no aeroporto e registre o ocorrido. Nossa equipe iniciará o processo de localização.</li>
    <li>Posso levar líquidos na bagagem de mão?
Sim, mas apenas em frascos de até 100 ml, dentro de um saco plástico transparente com capacidade máxima de 1 litro.</li>
</ul>
<hr>
<h1>Passagens e Check-in</h1>
<ul>
    <li>Como posso fazer o check-in?
O check-in pode ser feito pelo nosso site, aplicativo ou diretamente no balcão do aeroporto, até 1 hora antes do embarque.</li>

    <li>Posso alterar minha passagem?
Sim, é possível alterar datas e horários mediante disponibilidade e possíveis diferenças tarifárias.</li>
    <li>E se eu perder o voo?
Caso perca o voo, entre em contato com nossa central o quanto antes. Dependendo do tipo de tarifa, é possível remarcar o bilhete.</li>
</ul>
    <hr>
    <h1>Pagamentos e Reembolsos</h1>
    <li>Quais formas de pagamento são aceitas?
Aceitamos cartões de crédito, débito, Pix e transferência bancária.</li>
    <li>Como solicito um reembolso?
Você pode solicitar através da sua conta Flyon ou pela nossa equipe de atendimento. O prazo para devolução pode variar conforme o método de pagamento.</li>
    <hr>
    <h1>Atendimento ao Cliente</h1>
    <p>Se você não encontrou a resposta para a sua dúvida, nossa equipe de suporte está à disposição.</p>
    <h3>Canais de atendimento:</h3>

    <h4>
        E-mail: atendimento&#64;flyon.com <br>
        Telefone: 0800 222 9988 <br>
         Chat online: disponível todos os dias, das 8h às 22h <br>
    </h4>
</div>
</div>
<br>
